<!DOCTYPE html>
<html lang="en">
<head>
    {{ partial "projects/head" . }}
</head>
<body> 
{{ partial "nav" . }}
<section class="banner">
    <div class="banner__title">{{ .Title }}</div>
</section>
{{ partial "projects/about" . }}
<section class="content detail__container">
    <div class="detail__item">
        <div class="detail__item__title color__green">Introduction</div>
        <div class="detail__item__content">
            In order to practice 3D game development from beginning, the quickest way would be remake a existing game. 
            Meanwhile I try to make a simple game with knowledge that I recently acquired, which make code structure rigorous and easy for debugging. 
            That is why Escape The Room Remake came out, and it is my first game in Unreal Engine.
        </div>
        <img class="detail__item__image_sm" src="/images/projects/escape-the-room-remake/gifs/grab-items.gif" alt="grab-items">
    </div>
    <div class="detail__item">
        <div class="detail__item__title color__green">Blueprint</div>
        <div class="detail__item__content">
            Blueprint is a visual scripting language in unreal engine. 
            It is pretty useful for fast track development and experiment. 
            In order to quickly understand how to use Unreal Engine, I chose it as the core script language in the game. 
            With its advantage, I could focus on doing experiment and gaining feedback quickly.
        </div>
        <img class="detail__item__image_sm" src="/images/projects/escape-the-room-remake/gifs/open-painting.gif" alt="open-painting">
    </div>
    <div class="detail__item">
        <div class="detail__item__title color__green">Data oriented programming</div>
        <div class="detail__item__content">
            It was inspired by a talk in Unity conference, "Unite Austin 2017 - Game Architecture with Scriptable Objects" by Ryan Hipple. 
            It used ScriptableObject, which is a scriptable data object in Unity, as the storage of game state. 
            All objects in game subscribed states in scriptable objects and reacted when data changed. 
            I implemented this concept into my UI system, managing and monitoring states such as selecting item and obtained item in an object.
        </div>
        <img class="detail__item__image_sm" src="/images/projects/escape-the-room-remake/gifs/open-safe-case.gif" alt="open-safe-case">
    </div>
    <div class="detail__item">
        <div class="detail__item__title color__green">3D Art</div>
        <div class="detail__item__content">
            In this game, I worked with a professional 3D artist, and learnt much knowledge about 3D games and post processing shader. 
            It is very useful for me to know how animations work in 3D modeling, with the knowledge I could better determine approaches in different situations. 
            In addition, the knowledge of lighting and post processing helped me more understand computer graphics in a applied way.
        </div>
        <img class="detail__item__image_sm" src="/images/projects/escape-the-room-remake/gifs/open-tv.gif" alt="open-tv">
        <img class="detail__item__image_sm" src="/images/projects/escape-the-room-remake/gifs/break-glass.gif" alt="break-glass">
        <img class="detail__item__image_sm" src="/images/projects/escape-the-room-remake/gifs/sunlight.gif" alt="sunlight">
    </div>
</section>
<section class="links">
    <a title="Escape the Room Remake download link" class="links__download h4 color__white" href="https://drive.google.com/open?id=1Q9VuZCsBFWiHdgQQeirCnUG6k0ZCJ6ih">Download</a>
</section>
{{ partial "footer" .}}
</body>
</html>