<!DOCTYPE html>
<html lang="en">
<head>
    {{ partial "projects/head" . }}
</head>
<body> 
{{ partial "nav" . }}
<section class="banner">
    <div class="banner__title">Forest Browser Extension</div>
</section>
{{ partial "projects/about" . }}
<section class="content detail__container">
    <div class="detail__item">
        <div class="detail__item__title color__green">Introduction</div>
        <div class="detail__item__content">
            Forest Browser Extension is a mini gamification tool on Google Chrome and Firefox. 
            It is like Forest but a function-limited version. 
            In this extension, users could set up a timer and it will blocked all website except those in the allowed list. 
            It was my first project in SeekrTech. 
            I refactored the whole code base and developed new features that connect with Forest server. 
            The experience was very valuable since I collaborated with a professional backend engineer and learnt a lot of knowledge about networking and database design.
        </div>
        <img class="detail__item__image_sm" src="/images/projects/forest-browser/gifs/plant-tree.gif" alt="plant-tree">
        <img class="detail__item__image_sm" src="/images/projects/forest-browser/gifs/blocklist.gif" alt="blocklist">
        <img class="detail__item__image_sm" src="/images/projects/forest-browser/gifs/success.gif" alt="success">
        <img class="detail__item__image_sm" src="/images/projects/forest-browser/record.jpg" alt="record">
    </div>
</section>
<section class="links">
    <a title="Forest Firefox Addon" class="links__download h4 color__white" href="https://addons.mozilla.org/en-US/firefox/addon/forest-stay-focused-be-present/">Firefox Addon</a>
    <a title="Forest Chrome Extension" class="links__download h4 color__white" href="https://chrome.google.com/webstore/detail/forest-stay-focused-be-pr/kjacjjdnoddnpbbcjilcajfhhbdhkpgk?hl=en">Chrome Extension</a>
</section>
{{ partial "footer" .}}
</body>
</html>