<!DOCTYPE html>
<html lang="en">
<head>
    {{ partial "projects/head" . }}
</head>
<body> 
{{ partial "nav" . }}
<section class="banner">
    <div class="banner__title">Forest Browser Extension</div>
</section>
{{ partial "projects/about" . }}
<section class="content detail__container">
    <div class="detail__item">
        <div class="detail__item__title color__green">Introduction</div>
        <img class="detail__item__image_sm" src="/images/projects/forest-browser/gifs/plant-tree.gif" alt="plant-tree">
        <img class="detail__item__image_sm" src="/images/projects/forest-browser/gifs/blocklist.gif" alt="blocklist">
        <img class="detail__item__image_sm" src="/images/projects/forest-browser/gifs/give-up.gif" alt="give-up">
        <img class="detail__item__image_sm" src="/images/projects/forest-browser/gifs/success.gif" alt="success">
    </div>
    <div class="detail__item">
        <div class="detail__item__title color__green">Refacotring</div>
        <div class="detail__item__row">
            <img class="detail__item__image_xxs" src="/images/projects/forest-browser/gifs/plant-tree-small.gif" alt="plant-tree-small">
            <img class="detail__item__image_xxs" src="/images/projects/forest-browser/gifs/edit-note.gif" alt="edit-note">
        </div>
        <img class="detail__item__image_sm" src="/images/projects/forest-browser/gifs/blocked.gif" alt="blocked">
    </div>
    <div class="detail__item">
        <div class="detail__item__title color__green">Connect APIs</div>
        <img class="detail__item__image_sm" src="/images/projects/forest-browser/record.jpg" alt="record">
    </div>
</section>
<section class="links">
    <a title="Forest Firefox Addon" class="links__download h4 color__white" href="https://addons.mozilla.org/en-US/firefox/addon/forest-stay-focused-be-present/">Firefox Addon</a>
    <a title="Forest Chrome Extension" class="links__download h4 color__white" href="https://chrome.google.com/webstore/detail/forest-stay-focused-be-pr/kjacjjdnoddnpbbcjilcajfhhbdhkpgk?hl=en">Chrome Extension</a>
</section>
{{ partial "footer" .}}
</body>
</html>