<!DOCTYPE html>
<html lang="en">
<head>
    {{ partial "projects/head" . }}
</head>
<body> 
{{ partial "nav" . }}
<section class="banner">
    <div class="banner__title">{{ .Title }}</div>
</section>
{{ partial "projects/about" . }}
<section class="content detail__container">
    <div class="detail__item">
        <div class="detail__item__title color__green">Introduction</div>
        <div class="detail__item__content">
            Hourglass was a graduate project in my final year of university. 
            My main duty was implementing gameplay mechanics, including character movement, object interaction and boss fighting. 
            In addition, I imported shaders bought from Unity Assets Store to improv animations, making them more vigorous. 
            In this experience, collaborating within the team was the most valuable skills that I acquired. 
        </div>
        <div class="detail__item__content">
            It is a 2D-scrolling puzzle game, about a scientist willing to restore the mistakes he did before. 
            Players could travel between three different time period (past, now, future) anytime to solve puzzle, experiencing the story, seeing a village from flouring to destroyed.
        </div>
        <img class="detail__item__image_sm" src="/images/projects/hourglass/gifs/plant-seed.gif" alt="plant-seed">
        <img class="detail__item__image_sm" src="/images/projects/hourglass/gifs/swing-rope-1.gif" alt="swing-rope-1">
    </div>
    <div class="detail__item">
        <div class="detail__item__title color__green">Time Travel Mechanic</div>
        <div class="detail__item__content">
            Time traveling is the core mechanic in this game. 
            I divided game assets into three different layers, manage them by a state manager. 
            It controls camera and culls everything that is not belong to the certain time period. 
            Because all objects in certain level are preloaded, so travelling between time period is very smooth.
        </div>
        <img class="detail__item__image_sm" src="/images/projects/hourglass/gifs/time-travel-1.gif" alt="time-travel-1">
        <img class="detail__item__image_sm" src="/images/projects/hourglass/gifs/time-travel-2.gif" alt="time-travel-2">
        <img class="detail__item__image_sm" src="/images/projects/hourglass/gifs/time-travel-4.gif" alt="time-travel-4">
        <img class="detail__item__image_sm" src="/images/projects/hourglass/gifs/time-travel-5.gif" alt="time-travel-5">
    </div>
    <div class="detail__item">
        <div class="detail__item__title color__green">Boss Fight</div>
        <div class="detail__item__content">
            In the Boss level, I implemented the Boss AI with a state machine. 
            It manage the boss movement and determined suitable reaction.
            For example when the boss is almost dead then it will start trying to cut the rope that player is grabbing.
        </div>
        <img class="detail__item__image_sm" src="/images/projects/hourglass/gifs/boss-fight-5.gif" alt="boss-fight-5">
        <img class="detail__item__image_sm" src="/images/projects/hourglass/gifs/boss-fight-2.gif" alt="boss-fight-2">
        <img class="detail__item__image_sm" src="/images/projects/hourglass/gifs/boss-fight-3.gif" alt="boss-fight-3">
        <img class="detail__item__image_sm" src="/images/projects/hourglass/gifs/boss-fight-4.gif" alt="boss-fight-4">
    </div>
    <div class="detail__item">
        <div class="detail__item__title color__green">Collaboration Skill</div>
        <div class="detail__item__content">
            Initially, most of members in the team had no much cooperating experience in game development, especially working with over 7 people. 
            We worked on our positions separately without much communication, which led the whole game development process slow. Fortunately, all of us were dedicated solution seekers. 
            We found this problem and had many meetings, discussing about how to improving productivity. 
            After then, several tools were adopted to overcome this issue. 
            For example, we started using Trello to manage schedule and track works. 
            It clearly allowed us working more closely and knowing works of each other. 
            In terms of programming team, we adopted the new version control feature of Unity, which is based on git but server was provided by Unity official. 
            It significantly reduce the amount of merging issues. 
        </div>
    </div>
</section>
<section class="links">
</section>
{{ partial "footer" .}}
</body>
</html>