<!DOCTYPE html>
<html lang="en">
<head>
    {{ partial "projects/head" . }}
</head>
<body> 
{{ partial "nav" . }}
<section class="banner">
    <div class="banner__title">{{ .Title }}</div>
</section>
{{ partial "projects/about" . }}
<section class="content detail__container">
    <div class="detail__item">
        <div class="detail__item__title color__green">Introduction</div>
        <div class="detail__item__content">
            I Just Want to Cook is the game I made In my first Unity class in university. 
            Restricting by teacher, this game was designed to be a local multiple player game. 
            The game mechanic was designed by myself, inspiring from the conventional game, hide-and-seek. 
            There are two characters, the hunter and the rabbit. 
            The objective of hunter is to catch the rabbit, and the goal of rabbit is to find ingredients for cooking.
        </div>
        <img class="detail__item__image_sm" src="/images/projects/i-just-want-to-cook/gifs/place-cheese.gif" alt="place-cheese">
    </div>
    <div class="detail__item">
        <div class="detail__item__title color__green">Local Multiple Players</div>
        <div class="detail__item__content">
            The mechanic was not as easy as I thought. 
            It is noticeable that the game is unplayable since these players play hide-and-seek when they could see each others screen. 
            In order to make this game playable, maps were designed like mazes. 
            By that, players could not precisely locate their opponents position even they could see them.
        </div>
        <img class="detail__item__image_sm" src="/images/projects/i-just-want-to-cook/gifs/chasing.gif" alt="chasing">
        <div class="detail__item__content">
            As for the implementation, two cameras will be needed. 
            I created these cameras and bound them to each player and render on screen at two sides respectively.
        </div>
    </div>
    <div class="detail__item">
        <div class="detail__item__title color__green">Third Person Camera</div>
        <div class="detail__item__content">
            In I Just Want to Cook, each player could only use four keys to move. 
            For example, player No.1 uses W, A, S, and D to moving forward, backward, left and right respectively. 
            However, it is clear that players is unable to control their camera by themselves, cameras should rotate automatically. 
            In order to achieve this goal, I implement Zelda like third person camera which will rotate by themselves, depending on the direction player toward.
        </div>
        <img class="detail__item__image_sm" src="/images/projects/i-just-want-to-cook/gifs/third-person-camera.gif" alt="third-person-camera">
    </div>
    <div class="detail__item">
        <div class="detail__item__title color__green">World Space UI</div>
        <div class="detail__item__content">
            I also did experiments in this game. For the user interface of main menu, I placed all interfaces in world space. 
            Making UI switching be like traveling in the game world. It makes the menu more vigorous.
        </div>
        <img class="detail__item__image_sm" src="/images/projects/i-just-want-to-cook/gifs/how-to-play-menu.gif" alt="how-to-play-menu">
        <img class="detail__item__image_sm" src="/images/projects/i-just-want-to-cook/gifs/play-menu.gif" alt="play-menu">
    </div>
</section>
<section class="links">
</section>
{{ partial "footer" .}}
</body>
</html>