<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hui En "Willake" Lin | Game Programmer Portfolio</title>
    {{ partial "meta" . }}
    {{ $hamburger := resources.Get "libraries/hamburgers/hamburgers.min.css" }}
    {{ $cssOpts := (dict "targetPath" "css/projects.css" "enableSourceMap" true ) }}
    {{ $style := resources.Get "scss/projects/projects.scss" | toCSS $cssOpts }}
    <link rel="stylesheet" href="{{ $hamburger.Permalink }}">
    <link rel="stylesheet" href="{{ $style.Permalink }}">
</head>
<body> 
{{ partial "nav" . }}
<section class="banner">
    <div class="banner__title">{{ .Title }}</div>
</section>
{{ partial "projects/about" . }}
<section class="content detail__container">
    <div class="detail__item">
        <div class="detail__item__title color__green">Introduction</div>
        <div class="detail__item__content">
            Secret Triangle was my second game made in Unity. 
            In contrast to I Just Want To Cook, which players interact with games by keyboards only, the main input of this game was by mouse. 
            In this experience, I learned a different aspect of using ray cast. 
            In addition, the combat system of the game was turn base, implementing this system helped me acquire the knowledge of state machine.
        </div>
    </div>
    <div class="detail__item">
        <div class="detail__item__title color__green">Physics.Raycast Mouse Movement</div>
        <div class="detail__item__content">
            Ray casting plays an important role in game development. 
            For example, in my previous project, picking which objects was determined by the ray shoot from player character. 
            Similarly, moving character by mouse was executed with the ray shoot from camera.
        </div>
    </div>
    <div class="detail__item">
        <div class="detail__item__title color__green">Turn-Base Combat System</div>
        <div class="detail__item__content">
            Turn-Base is an interesting combat system. 
            It gives player more time to think their tactics without losing the excite mood. 
            Initially, I was struggle with organizing the whole code base because I used a lot of if statement to maintain the whole system. 
            It was not very efficiant and clean. After searching google for better solution, state machine is a good one.
        </div>
    </div>
</section>
<section class="links">
</section>
{{ partial "footer" .}}
</body>
</html>