<!DOCTYPE html>
<html lang="en">
<head>
    {{ partial "meta" . }}
    {{ $hamburger := resources.Get "libraries/hamburgers/hamburgers.min.css" }}
    {{ $cssOpts := (dict "targetPath" "css/home.css" "enableSourceMap" true ) }}
    {{ $style := resources.Get "scss/home/home.scss" | toCSS $cssOpts }}
    <link rel="stylesheet" href="{{ $hamburger.Permalink }}">
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    {{ $homejs := resources.Get "js/home.js" | js.Build "js/home.js" }}
    <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ $homejs.Permalink }}"></script>
</head>
<body> 
{{ partial "nav" . }}
{{ block "main" . }}
{{ end }}
{{ partial "contact" .}}
{{ partial "footer" .}}
</body>
</html>