<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

{{ $cover := resources.Get "images/cover.jpg" }}
{{ $favicon := resources.Get "images/favicon.ico" }}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111797252-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-111797252-1');
</script>

<title>{{ .Params.ogTitle }}</title>

<!--Description-->

<meta name="description" content="{{ .Params.ogDescription }}">


<!--Author-->

<meta name="author" content="Hui En Lin">


<!--Open Graph Title-->

<meta property="og:title" content="{{ .Params.ogTitle }}" />

<!--Open Graph Image-->
<meta property="og:image" content="{{$cover.Permalink}}">


<!--Open Graph Description-->

<meta property="og:description" content="{{ .Params.ogDescription }}" />


<!--Open Graph Site Name-->
<meta property="og:site_name" content="{{ .Params.ogTitle }}" />

<!--Type page-->

<meta property="og:type" content="website" />

<meta property="og:url" content="https://www.willake.me" />

<!-- Twitter Card -->
<meta name="twitter:card"
        content="summary_large_image">
<meta name="twitter:creator"
        content="@WillakeLin">
<meta name="twitter:image"
        content="{{$cover.Permalink}}">
<meta name="twitter:title"
        content="{{ .Params.ogTitle }}">
<meta name="twitter:description"
        content="{{ .Params.ogDescription }}">
<meta name="twitter:site"
        content="https://www.hui-en.me/">

<!-- Favicon -->

<link rel="shortcut icon" href="{{$favicon.Permalink}}" type="image/x-icon">
<link rel="icon" href="{{$favicon.Permalink}}" type="image/x-icon">

<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">