<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

{{ $cover := resources.Get "images/cover.jpg" }}
{{ $favicon := resources.Get "images/favicon.ico" }}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111797252-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-111797252-1');
</script>

<!--Description-->

<meta name="description" content="Hui En Lin, a communicable, dedicated programmer with experience in collaborating with people from different roles, able to think in more than one perspective, making collaboration increasingly efficient. As a programmer with professional experience in developing products with Unity for almost 3 years, I have the ability of implementing gameplay features. improving graphic, designing code architecture and optimizing games effectively.">


<!--Author-->

<meta name="author" content="Hui En Lin">


<!--Open Graph Title-->

<meta property="og:title" content='Hui En &quot;Willake&quot; Lin | Game Programmer Portfolio' />

<!--Open Graph Image-->
<meta property="og:image" content="{{$cover.Permalink}}">


<!--Open Graph Description-->

<meta property="og:description" content="Hui En Lin, a communicable, dedicated programmer with experience in collaborating with people from different roles, able to think in more than one perspective, making collaboration increasingly efficient. As a programmer with professional experience in developing products with Unity for almost 3 years, I have the ability of implementing gameplay features. improving graphic, designing code architecture and optimizing games effectively." />


<!--Open Graph Site Name-->
<meta property="og:site_name" content="Hui En &quot;Willake&quot; Lin | Game Programmer Portfolio" />

<!--Type page-->

<meta property="og:type" content="website" />

<meta property="og:url" content="https://www.willake.me" />

<!-- Twitter Card -->
<meta name="twitter:card"
        content="summary_large_image">
<meta name="twitter:creator"
        content="@WillakeLin">
<meta name="twitter:image"
        content="{{$cover.Permalink}}">
<meta name="twitter:title"
        content="Hui En &quot;Willake&quot; Lin | Game Programmer Portfolio">
<meta name="twitter:description"
        content="Hui En Lin, a communicable, dedicated programmer with experience in collaborating with people from different roles, able to think in more than one perspective, making collaboration increasingly efficient. As a programmer with professional experience in developing products with Unity for almost 3 years, I have the ability of implementing gameplay features. improving graphic, designing code architecture and optimizing games effectively.">
<meta name="twitter:site"
        content="https://www.hui-en.me/">

<!-- Favicon -->

<link rel="shortcut icon" href="{{$favicon.Permalink}}" type="image/x-icon">
<link rel="icon" href="{{$favicon.Permalink}}" type="image/x-icon">

<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">