{{ define "main" }}
{{ $mp4 := resources.Get "videos/portfolio.mp4" }}
{{ $webm := resources.Get "videos/portfolio.webm" }}
<section class="intro">
    <div class="intro__content__mobile">
        <h1 class="intro__title__mobile color__green">- Hui En Lin -</h1>
        <h2 class="intro__subtitle__mobile color__green">Gameplay Programmer</h2>
        <video id="intro__video__mobile" class="intro__video__mobile" loop="loop" muted="muted" preload="preload" controls>
            <source src="{{ $mp4.Permalink }}" type="video/mp4">
            <source src="{{ $webm.Permalink }}" type="video/webm">
        </video>
    </div>
    <div class="intro__content">
        <video id="intro__video" class="intro__video" loop="loop" muted="muted" preload="preload">
                <source src="{{ $mp4.Permalink }}" type="video/mp4">
                <source src="{{ $webm.Permalink }}" type="video/webm">
        </video>
        <div class="intro__overlay">
        </div>
        <div class="intro__texts">
            <h1 class="intro__title color__white">- Hui En Lin -</h1>
            <h2 class="intro__subtitle color__white">Gameplay Programmer</h2>
        </div>
    </div>
</section>
<section id="portfolio" class="portfolio">
    <h2 class="portfolio__title h1">Professional Projects</h2>
    <div class="portfolio__row">
        {{ range where (where .Site.Pages "Section" "projects") "Params.projecttype" "Professional" }}
            <a title="{{ .Title }}" class="portfolio__item" href="{{ .Permalink }}">
                <div class="portfolio__item__body" style="background-image: url({{ .Params.preview }});">
                    <div class="portfolio__item__overlay"></div>
                    <div class="portfolio__item__text">
                        <h2 class="portfolio__item__title">{{ .Title }}</h1>
                    </div>
                </div>
                <div class="portfolio__item__tags">
                    {{ range .Params.toolsused }}
                    <div class="portfolio__item__tag color__white">{{ . }}</div>
                    {{ end }}
                </div>
            </a>
        {{ end }}
    </div>
    <h2 class="portfolio__title h1">Side Projects</h2>
    <div class="portfolio__row">
        {{ range where (where (.Site.Pages.ByParam "order") "Section" "projects") "Params.projecttype" "Side" }}
            <a title="{{ .Title }}" class="portfolio__item" href="{{ .Permalink }}">
                <div class="portfolio__item__body" style="background-image: url({{ .Params.preview }});">
                    <div class="portfolio__item__overlay"></div>
                    <div class="portfolio__item__text">
                        <h2 class="portfolio__item__title">{{ .Title }}</h1>
                    </div>
                </div>
                <div class="portfolio__item__tags">
                    {{ range .Params.toolsused }}
                    <div class="portfolio__item__tag color__white">{{ . }}</div>
                    {{ end }}
                </div>
            </a>
        {{ end }}
    </div>
</section>
{{ end }}