{{ define "main" }}
<section class="intro">
    <!-- <h1 class="intro__title color__grey">- Willake Lin -</h1>
    <h2 class="intro__subtitle color__grey">Gameplay Programmer</h2> -->
    <div class="intro__content">
        <video class="intro__video" autoplay="autoplay" loop="loop" muted="muted" preload="preload">
                <source src="../../assets/videos/portfolio.mp4" type="video/mp4">
                <source src="../../assets/videos/portfolio.webm" type="video/webm">
        </video>
        <div class="intro__overlay">
        </div>
        <div class="intro__texts">
            <h1 class="intro__title color__white">- Willake Lin -</h1>
            <h2 class="intro__subtitle color__white">Gameplay Programmer</h2>
        </div>
    </div>
</section>
<section id="portfolio" class="portfolio">
    <h2 class="portfolio__title h1">Professional Projects</h2>
    <div class="portfolio__row">
        {{ range where (where .Site.Pages "Section" "projects") "Params.projecttype" "Professional" }}
            <a title="{{ .Title }}" class="portfolio__item" href="{{ .Permalink }}">
                <div class="portfolio__item__body" style="background-image: url({{ .Params.preview }});">
                    <div class="portfolio__item__overlay"></div>
                    <div class="portfolio__item__text">
                        <h2 class="portfolio__item__title">{{ .Title }}</h1>
                    </div>
                </div>
                <div class="portfolio__item__tags">
                    {{ range .Params.toolsused }}
                    <div class="portfolio__item__tag color__white">{{ . }}</div>
                    {{ end }}
                </div>
            </a>
        {{ end }}
    </div>
    <h2 class="portfolio__title h1">Side Projects</h2>
    <div class="portfolio__row">
        {{ range where (where .Site.Pages "Section" "projects") "Params.projecttype" "Side" }}
            <a title="{{ .Title }}" class="portfolio__item" href="{{ .Permalink }}">
                <div class="portfolio__item__body" style="background-image: url({{ .Params.preview }});">
                    <div class="portfolio__item__overlay"></div>
                    <div class="portfolio__item__text">
                        <h2 class="portfolio__item__title">{{ .Title }}</h1>
                    </div>
                </div>
                <div class="portfolio__item__tags">
                    {{ range .Params.toolsused }}
                    <div class="portfolio__item__tag color__white">{{ . }}</div>
                    {{ end }}
                </div>
            </a>
        {{ end }}
    </div>
</section>
{{ end }}